*{
    margin: 0;
    padding: 0;
}

body{
    user-select: none;
}
a{
    user-select: none;
    text-decoration: none;
}
.nave a{
    display: flex;
    flex-direction: row;
}
nav{
    display: flex;
    gap: 522px;
}